In [920]:
from urllib.request import urlopen
import json
from pandas import json_normalize
import pandas as pd

## Socioeconomic indicators of the territorial division neighbourhood of the city of Barcelona

Register of inhabitants. Population of the city of Barcelona by sex and academic level

In [921]:
url1 = 'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id=ac73b03b-247c-4c05-b773-72b3ca25dc74&limit=876'
fileobj1 = json.load(urlopen(url1))
#print(fileobj1)

In [922]:
fileobj1.keys()

dict_keys(['help', 'success', 'result'])

In [923]:
fileobj1['result'].keys()

dict_keys(['resource_id', 'fields', 'records', '_links', 'limit', 'total'])

In [924]:
sub_df1 = pd.json_normalize(fileobj1['result']['records'])

In [925]:
sub_df1

,Codi_Districte,Sexe,Nom_Districte,Nom_Barri,Nombre,Codi_Barri,Nivell_academic,_id,Any
0,1,Dona,Ciutat Vella,el Raval,440,1,Sense estudis,1,2020
1,1,Dona,Ciutat Vella,el Barri Gòtic,146,2,Sense estudis,2,2020
2,1,Dona,Ciutat Vella,la Barceloneta,273,3,Sense estudis,3,2020
3,1,Dona,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",223,4,Sense estudis,4,2020
4,2,Dona,Eixample,el Fort Pienc,262,5,Sense estudis,5,2020
...,...,...,...,...,...,...,...,...,...
871,10,Home,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,124,69,No consta,872,2020
872,10,Home,Sant Martí,el Besòs i el Maresme,233,70,No consta,873,2020
873,10,Home,Sant Martí,Provençals del Poblenou,174,71,No consta,874,2020
874,10,Home,Sant Martí,Sant Martí de Provençals,239,72,No consta,875,2020
875,10,Home,Sant Martí,la Verneda i la Pau,279,73,No consta,876,2020

In [926]:
sub_df1['Nivell_academic'].value_counts()

Batxillerat elemental / graduat escolar / ESO / FPI          146
Sense estudis                                                146
Batxillerat superior / BUP / COU / FPII / CFGM grau mitjà    146
No consta                                                    146
Estudis universitaris / CFGS grau superior                   146
Estudis primaris / certificat d'escolaritat / EGB            146
Name: Nivell_academic, dtype: int64

Elementary school / school graduate / ESO / FPI 

Without studies 

High school / BUP / COU / FPII / CFGM Intermediate Grade

No records 

University studies / CFGS higher degree

Primary education / certificate of schooling / EGB

In [927]:
sub_df1 = sub_df1.rename(columns = {"Nom_Districte": "District", 
                                    "Codi_Districte" : "District_Code", 
                                    "Nom_Barri": "Neighborhood",
                                    "Codi_Barri": "Neighborhood_Code",
                                    "Sexe": "Sex",
                                    "Nivell_academic": "Academic_Qualification",
                                    "Nombre":"Population"})

In [928]:
educational_stages = {"Batxillerat elemental / graduat escolar / ESO / FPI": "Elementary school / school graduate / ESO / FPI",
       "Sense estudis": "Without studies",
       "No consta": "No records",
       "Batxillerat superior / BUP / COU / FPII / CFGM grau mitjà": "High school / BUP / COU / FPII / CFGM Intermediate Grade",
       "Estudis primaris / certificat d'escolaritat / EGB": "Primary education / certificate of schooling / EGB",
       "Estudis universitaris / CFGS grau superior": "University studies / CFGS higher degree"}

In [929]:
sub_df1["Academic_Qualification"] = sub_df1["Academic_Qualification"].map(educational_stages)

In [930]:
sex = {"Dona": "Women",
       "Home": "Men"}

In [931]:
sub_df1["Sex"] = sub_df1["Sex"].map(sex)

In [932]:
table1 = sub_df1.drop(columns=["_id", "Any"])

In [933]:
table1

,District_Code,Sex,District,Neighborhood,Population,Neighborhood_Code,Academic_Qualification
0,1,Women,Ciutat Vella,el Raval,440,1,Without studies
1,1,Women,Ciutat Vella,el Barri Gòtic,146,2,Without studies
2,1,Women,Ciutat Vella,la Barceloneta,273,3,Without studies
3,1,Women,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",223,4,Without studies
4,2,Women,Eixample,el Fort Pienc,262,5,Without studies
...,...,...,...,...,...,...,...
871,10,Men,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,124,69,No records
872,10,Men,Sant Martí,el Besòs i el Maresme,233,70,No records
873,10,Men,Sant Martí,Provençals del Poblenou,174,71,No records
874,10,Men,Sant Martí,Sant Martí de Provençals,239,72,No records
875,10,Men,Sant Martí,la Verneda i la Pau,279,73,No records

In [934]:
export1 = table1.groupby(['District', 'District_Code', 'Neighborhood', 'Neighborhood_Code', 'Sex', 'Academic_Qualification', 'Population']).sum()

In [935]:
export1.to_csv("table1.csv")

In [936]:
table_1 = pd.read_csv('table1.csv')

In [937]:
table_1

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Academic_Qualification,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Elementary school / school graduate / ESO / FPI,2020
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,High school / BUP / COU / FPII / CFGM Intermed...,2475
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,No records,123
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Primary education / certificate of schooling /...,1700
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,University studies / CFGS higher degree,4092
...,...,...,...,...,...,...,...
871,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,High school / BUP / COU / FPII / CFGM Intermed...,2176
872,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,No records,167
873,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Primary education / certificate of schooling /...,391
874,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,University studies / CFGS higher degree,3751
875,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Without studies,36

In [938]:
table_1["Attribute_Family"] = "Academic_Qualification"

In [939]:
table_1

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Academic_Qualification,Population,Attribute_Family
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Elementary school / school graduate / ESO / FPI,2020,Academic_Qualification
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,High school / BUP / COU / FPII / CFGM Intermed...,2475,Academic_Qualification
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,No records,123,Academic_Qualification
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Primary education / certificate of schooling /...,1700,Academic_Qualification
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,University studies / CFGS higher degree,4092,Academic_Qualification
...,...,...,...,...,...,...,...,...
871,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,High school / BUP / COU / FPII / CFGM Intermed...,2176,Academic_Qualification
872,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,No records,167,Academic_Qualification
873,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Primary education / certificate of schooling /...,391,Academic_Qualification
874,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,University studies / CFGS higher degree,3751,Academic_Qualification
875,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Without studies,36,Academic_Qualification

In [940]:
table_1.rename(columns = {"Academic_Qualification": "Attribute"}, inplace=True)

In [941]:
table_1

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute,Population,Attribute_Family
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Elementary school / school graduate / ESO / FPI,2020,Academic_Qualification
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,High school / BUP / COU / FPII / CFGM Intermed...,2475,Academic_Qualification
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,No records,123,Academic_Qualification
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Primary education / certificate of schooling /...,1700,Academic_Qualification
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,University studies / CFGS higher degree,4092,Academic_Qualification
...,...,...,...,...,...,...,...,...
871,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,High school / BUP / COU / FPII / CFGM Intermed...,2176,Academic_Qualification
872,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,No records,167,Academic_Qualification
873,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Primary education / certificate of schooling /...,391,Academic_Qualification
874,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,University studies / CFGS higher degree,3751,Academic_Qualification
875,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Without studies,36,Academic_Qualification

In [942]:
table_1 = table_1[["District", "District_Code", "Neighborhood", "Neighborhood_Code", "Sex", "Attribute_Family", "Attribute", "Population"]]

In [943]:
table_1

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute_Family,Attribute,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,Elementary school / school graduate / ESO / FPI,2020
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,High school / BUP / COU / FPII / CFGM Intermed...,2475
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,No records,123
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,Primary education / certificate of schooling /...,1700
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,University studies / CFGS higher degree,4092
...,...,...,...,...,...,...,...,...
871,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Academic_Qualification,High school / BUP / COU / FPII / CFGM Intermed...,2176
872,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Academic_Qualification,No records,167
873,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Academic_Qualification,Primary education / certificate of schooling /...,391
874,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Academic_Qualification,University studies / CFGS higher degree,3751
875,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Academic_Qualification,Without studies,36

Population of the city of Barcelona according to sex, five-year age and nationality

In [944]:
url2 = 'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id=eaf3860e-a771-4dd2-827e-2aa919254329&limit=6132'
fileobj2 = json.load(urlopen(url2))
#print(fileobj3)

In [945]:
fileobj2.keys()

dict_keys(['help', 'success', 'result'])

In [946]:
fileobj2['result'].keys()

dict_keys(['resource_id', 'fields', 'records', '_links', 'limit', 'total'])

In [947]:
sub_df2 = pd.json_normalize(fileobj2['result']['records'])

In [948]:
sub_df2

,Codi_Districte,Sexe,Nom_Districte,Nom_Barri,Codi_Barri,Nombre,_id,Edat_quinquennal,Any,Nacionalitat
0,1,Dona,Ciutat Vella,el Raval,1,395,1,0-4 anys,2020,Espanyola
1,1,Dona,Ciutat Vella,el Barri Gòtic,2,102,2,0-4 anys,2020,Espanyola
2,1,Dona,Ciutat Vella,la Barceloneta,3,131,3,0-4 anys,2020,Espanyola
3,1,Dona,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,185,4,0-4 anys,2020,Espanyola
4,2,Dona,Eixample,el Fort Pienc,5,419,5,0-4 anys,2020,Espanyola
...,...,...,...,...,...,...,...,...,...,...
6127,10,Home,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,0,6128,100 anys i més,2020,Estrangera
6128,10,Home,Sant Martí,el Besòs i el Maresme,70,0,6129,100 anys i més,2020,Estrangera
6129,10,Home,Sant Martí,Provençals del Poblenou,71,0,6130,100 anys i més,2020,Estrangera
6130,10,Home,Sant Martí,Sant Martí de Provençals,72,0,6131,100 anys i més,2020,Estrangera
6131,10,Home,Sant Martí,la Verneda i la Pau,73,0,6132,100 anys i més,2020,Estrangera

In [949]:
sub_df2 = sub_df2.rename(columns = {"Nom_Districte": "District", 
                                    "Codi_Districte" : "District_Code", 
                                    "Nom_Barri": "Neighborhood",
                                    "Codi_Barri": "Neighborhood_Code",
                                    "Sexe": "Sex",
                                    "Edat_quinquennal": "Five_Year_Age",
                                    "Nacionalitat": "Nationality",
                                    "Nombre":"Population"})

In [950]:
sub_df2

,District_Code,Sex,District,Neighborhood,Neighborhood_Code,Population,_id,Five_Year_Age,Any,Nationality
0,1,Dona,Ciutat Vella,el Raval,1,395,1,0-4 anys,2020,Espanyola
1,1,Dona,Ciutat Vella,el Barri Gòtic,2,102,2,0-4 anys,2020,Espanyola
2,1,Dona,Ciutat Vella,la Barceloneta,3,131,3,0-4 anys,2020,Espanyola
3,1,Dona,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,185,4,0-4 anys,2020,Espanyola
4,2,Dona,Eixample,el Fort Pienc,5,419,5,0-4 anys,2020,Espanyola
...,...,...,...,...,...,...,...,...,...,...
6127,10,Home,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,0,6128,100 anys i més,2020,Estrangera
6128,10,Home,Sant Martí,el Besòs i el Maresme,70,0,6129,100 anys i més,2020,Estrangera
6129,10,Home,Sant Martí,Provençals del Poblenou,71,0,6130,100 anys i més,2020,Estrangera
6130,10,Home,Sant Martí,Sant Martí de Provençals,72,0,6131,100 anys i més,2020,Estrangera
6131,10,Home,Sant Martí,la Verneda i la Pau,73,0,6132,100 anys i més,2020,Estrangera

In [951]:
sub_df2['Nationality'].value_counts()

Estrangera    3066
Espanyola     3066
Name: Nationality, dtype: int64

In [952]:
nationality={"Estrangera": "Foreign",
     "Espanyola": "Spanish"}

In [953]:
sub_df2["Nationality"] = sub_df2["Nationality"].map(nationality)

In [954]:
sub_df2['Five_Year_Age'].value_counts()

90-94 anys        292
70-74 anys        292
30-34 anys        292
5-9 anys          292
20-24 anys        292
85-89 anys        292
75-79 anys        292
35-39 anys        292
50-54 anys        292
95-99 anys        292
60-64 anys        292
80-84 anys        292
100 anys i més    292
15-19 anys        292
0-4 anys          292
40-44 anys        292
45-49 anys        292
55-59 anys        292
25-29 anys        292
65-69 anys        292
10-14 anys        292
Name: Five_Year_Age, dtype: int64

In [955]:
dic4 = {"90-94 anys":"90-94",
"70-74 anys": "70-74",
"30-34 anys":"30-34",
"5-9 anys":"5-9",
"20-24 anys":"20-24",
"85-89 anys":"85-89",
"75-79 anys":"75-79",
"35-39 anys":"35-39",
"50-54 anys":"50-54",
"95-99 anys":"95-99",
"60-64 anys":"60-64",
"80-84 anys":"80-84",
"100 anys i més":"100-older",
"15-19 anys":"15-19",
"0-4 anys":"0-4",
"40-44 anys":"40-44",
"45-49 anys":"45-49",
"55-59 anys":"55-59",
"25-29 anys":"25-29",
"65-69 anys":"65-69",
"10-14 anys":"10-14"}

In [956]:
sub_df2["Five_Year_Age"] = sub_df2["Five_Year_Age"].map(dic4)

In [957]:
sub_df2["Sex"] = sub_df2["Sex"].map(sex)

In [958]:
table2 = sub_df2.drop(columns=["_id", "Any"])

In [959]:
table2

,District_Code,Sex,District,Neighborhood,Neighborhood_Code,Population,Five_Year_Age,Nationality
0,1,Women,Ciutat Vella,el Raval,1,395,0-4,Spanish
1,1,Women,Ciutat Vella,el Barri Gòtic,2,102,0-4,Spanish
2,1,Women,Ciutat Vella,la Barceloneta,3,131,0-4,Spanish
3,1,Women,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,185,0-4,Spanish
4,2,Women,Eixample,el Fort Pienc,5,419,0-4,Spanish
...,...,...,...,...,...,...,...,...
6127,10,Men,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,0,100-older,Foreign
6128,10,Men,Sant Martí,el Besòs i el Maresme,70,0,100-older,Foreign
6129,10,Men,Sant Martí,Provençals del Poblenou,71,0,100-older,Foreign
6130,10,Men,Sant Martí,Sant Martí de Provençals,72,0,100-older,Foreign
6131,10,Men,Sant Martí,la Verneda i la Pau,73,0,100-older,Foreign

In [960]:
export2 = table2.groupby(['District', 'District_Code', 'Neighborhood', 'Neighborhood_Code', 'Sex', 'Five_Year_Age', 'Nationality', 'Population']).sum()

In [961]:
export2.to_csv("table2.csv")

In [962]:
table_2 = pd.read_csv('table2.csv')

In [963]:
table_2

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Five_Year_Age,Nationality,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,0-4,Foreign,169
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,0-4,Spanish,227
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,10-14,Foreign,118
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,10-14,Spanish,257
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,100-older,Foreign,0
...,...,...,...,...,...,...,...,...
6127,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,85-89,Spanish,255
6128,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,90-94,Foreign,3
6129,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,90-94,Spanish,184
6130,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,95-99,Foreign,0
6131,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,95-99,Spanish,55

In [964]:
table_2["Attribute"] = table_2["Five_Year_Age"] + [" "] + table_2["Nationality"]

In [965]:
table_2

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Five_Year_Age,Nationality,Population,Attribute
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,0-4,Foreign,169,0-4 Foreign
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,0-4,Spanish,227,0-4 Spanish
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,10-14,Foreign,118,10-14 Foreign
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,10-14,Spanish,257,10-14 Spanish
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,100-older,Foreign,0,100-older Foreign
...,...,...,...,...,...,...,...,...,...
6127,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,85-89,Spanish,255,85-89 Spanish
6128,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,90-94,Foreign,3,90-94 Foreign
6129,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,90-94,Spanish,184,90-94 Spanish
6130,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,95-99,Foreign,0,95-99 Foreign
6131,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,95-99,Spanish,55,95-99 Spanish

In [966]:
table_2 = table_2.drop(columns= ["Five_Year_Age", "Nationality"])

In [967]:
table_2["Attribute_Family"] = "Age_range_and_Nationality"

In [968]:
table_2

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Population,Attribute,Attribute_Family
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,169,0-4 Foreign,Age_range_and_Nationality
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,227,0-4 Spanish,Age_range_and_Nationality
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,118,10-14 Foreign,Age_range_and_Nationality
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,257,10-14 Spanish,Age_range_and_Nationality
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,0,100-older Foreign,Age_range_and_Nationality
...,...,...,...,...,...,...,...,...
6127,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,255,85-89 Spanish,Age_range_and_Nationality
6128,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,3,90-94 Foreign,Age_range_and_Nationality
6129,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,184,90-94 Spanish,Age_range_and_Nationality
6130,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,0,95-99 Foreign,Age_range_and_Nationality
6131,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,55,95-99 Spanish,Age_range_and_Nationality

In [969]:
table_2 = table_2[["District", "District_Code", "Neighborhood", "Neighborhood_Code", "Sex", "Attribute_Family", "Attribute", "Population"]]

In [970]:
table_2

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute_Family,Attribute,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Age_range_and_Nationality,0-4 Foreign,169
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Age_range_and_Nationality,0-4 Spanish,227
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Age_range_and_Nationality,10-14 Foreign,118
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Age_range_and_Nationality,10-14 Spanish,257
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Age_range_and_Nationality,100-older Foreign,0
...,...,...,...,...,...,...,...,...
6127,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Age_range_and_Nationality,85-89 Spanish,255
6128,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Age_range_and_Nationality,90-94 Foreign,3
6129,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Age_range_and_Nationality,90-94 Spanish,184
6130,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Age_range_and_Nationality,95-99 Foreign,0
6131,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Age_range_and_Nationality,95-99 Spanish,55

Population of the city of Barcelona according to sex and place of birth

In [971]:
url3 = 'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id=e8ea4f81-0cc2-4503-ae31-b123b559bde0&limit=3066'
fileobj3 = json.load(urlopen(url3))

In [972]:
fileobj3.keys()

dict_keys(['help', 'success', 'result'])

In [973]:
fileobj3['result'].keys()

dict_keys(['resource_id', 'fields', 'records', '_links', 'limit', 'total'])

In [974]:
sub_df3 = pd.json_normalize(fileobj3['result']['records'])

In [975]:
sub_df3

,Codi_Districte,Sexe,Nom_Districte,Nom_Barri,Codi_Barri,Nombre,_id,Any,Lloc_de_naixement
0,1,Dona,Ciutat Vella,el Raval,1,6076,1,2020,Barcelona ciutat
1,1,Dona,Ciutat Vella,el Barri Gòtic,2,2210,2,2020,Barcelona ciutat
2,1,Dona,Ciutat Vella,la Barceloneta,3,2928,3,2020,Barcelona ciutat
3,1,Dona,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,3370,4,2020,Barcelona ciutat
4,2,Dona,Eixample,el Fort Pienc,5,7744,5,2020,Barcelona ciutat
...,...,...,...,...,...,...,...,...,...
3061,10,Home,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,1566,3062,2020,Estranger
3062,10,Home,Sant Martí,el Besòs i el Maresme,70,5860,3063,2020,Estranger
3063,10,Home,Sant Martí,Provençals del Poblenou,71,2336,3064,2020,Estranger
3064,10,Home,Sant Martí,Sant Martí de Provençals,72,2384,3065,2020,Estranger
3065,10,Home,Sant Martí,la Verneda i la Pau,73,2677,3066,2020,Estranger

In [976]:
sub_df3['Lloc_de_naixement'].value_counts()

Castella-la Manxa             146
Canàries                      146
Cantàbria                     146
Comunitat de Madrid           146
Castella i Lleó               146
Resta Catalunya               146
Aragó                         146
Rioja, La                     146
Ceuta                         146
Estranger                     146
Melilla                       146
Principat d'Astúries          146
Comunitat Valenciana          146
Extremadura                   146
Barcelona ciutat              146
Illes Balears                 146
País Basc                     146
Regió de Múrcia               146
Galícia                       146
Andalusia                     146
Comunitat Foral de Navarra    146
Name: Lloc_de_naixement, dtype: int64

Castilla La Mancha

Canarias

Cantabria

Comunidad de Madrid

Castilla y León

Resto de Cataluña

Aragón

La Rioja

Ceuta

extranjero

Melilla

Principado de Asturias

Comunidad Valenciana

Extremadura

Barcelona ciudad

Islas Baleares

país Vasco

Región de Murcia

Galicia

Andalucía

Comunidad Foral de Navarra

In [977]:
sub_df3 = sub_df3.rename(columns = {"Nom_Districte": "District", 
                                    "Codi_Districte" : "District_Code", 
                                    "Nom_Barri": "Neighborhood",
                                    "Codi_Barri": "Neighborhood_Code",
                                    "Sexe": "Sex",
                                    "Lloc_de_naixement":"Place_of_birth",
                                    "Nombre":"Population"})

In [978]:
sub_df3

,District_Code,Sex,District,Neighborhood,Neighborhood_Code,Population,_id,Any,Place_of_birth
0,1,Dona,Ciutat Vella,el Raval,1,6076,1,2020,Barcelona ciutat
1,1,Dona,Ciutat Vella,el Barri Gòtic,2,2210,2,2020,Barcelona ciutat
2,1,Dona,Ciutat Vella,la Barceloneta,3,2928,3,2020,Barcelona ciutat
3,1,Dona,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,3370,4,2020,Barcelona ciutat
4,2,Dona,Eixample,el Fort Pienc,5,7744,5,2020,Barcelona ciutat
...,...,...,...,...,...,...,...,...,...
3061,10,Home,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,1566,3062,2020,Estranger
3062,10,Home,Sant Martí,el Besòs i el Maresme,70,5860,3063,2020,Estranger
3063,10,Home,Sant Martí,Provençals del Poblenou,71,2336,3064,2020,Estranger
3064,10,Home,Sant Martí,Sant Martí de Provençals,72,2384,3065,2020,Estranger
3065,10,Home,Sant Martí,la Verneda i la Pau,73,2677,3066,2020,Estranger

In [979]:
communities = {"Castella-la Manxa":"Castilla-La Mancha",
"Canàries":"Canary Islands",
"Cantàbria":"Cantabria",
"Comunitat de Madrid":"Community of Madrid",
"Castella i Lleó":"Castile and Leon",
"Resta Catalunya":"Rest of Catalonia",
"Aragó":"Aragon",
"Rioja, La":"The Rioja",
"Ceuta":"Ceuta",
"Estranger":"Foreign",
"Melilla":"Melilla",
"Principat d'Astúries":"Principality of Asturias",
"Comunitat Valenciana":"Valencian Community",
"Extremadura":"Extremadura",
"Barcelona ciutat":"Barcelona city",
"Illes Balears":"Balearic islands",
"País Basc":"Basque Country",
"Regió de Múrcia":"Region of Murcia",
"Galícia":"Galicia",
"Andalusia":"Andalusia",
"Comunitat Foral de Navarra":"Foral Community of Navarre"}

In [980]:
sub_df3["Place_of_birth"] = sub_df3["Place_of_birth"].map(communities)

In [981]:
sub_df3["Sex"] = sub_df3["Sex"].map(sex)

In [982]:
table3 = sub_df3.drop(columns= ["_id", "Any"])

In [983]:
table3

,District_Code,Sex,District,Neighborhood,Neighborhood_Code,Population,Place_of_birth
0,1,Women,Ciutat Vella,el Raval,1,6076,Barcelona city
1,1,Women,Ciutat Vella,el Barri Gòtic,2,2210,Barcelona city
2,1,Women,Ciutat Vella,la Barceloneta,3,2928,Barcelona city
3,1,Women,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,3370,Barcelona city
4,2,Women,Eixample,el Fort Pienc,5,7744,Barcelona city
...,...,...,...,...,...,...,...
3061,10,Men,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,1566,Foreign
3062,10,Men,Sant Martí,el Besòs i el Maresme,70,5860,Foreign
3063,10,Men,Sant Martí,Provençals del Poblenou,71,2336,Foreign
3064,10,Men,Sant Martí,Sant Martí de Provençals,72,2384,Foreign
3065,10,Men,Sant Martí,la Verneda i la Pau,73,2677,Foreign

In [984]:
export3 = table3.groupby(['District', 'District_Code', 'Neighborhood', 'Neighborhood_Code', 'Sex', 'Place_of_birth', 'Population']).sum()

In [985]:
export3.to_csv("table3.csv")

In [986]:
table_3 = pd.read_csv('table3.csv')

In [987]:
table_3

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Place_of_birth,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Andalusia,295
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Aragon,94
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Balearic islands,23
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Barcelona city,3469
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Basque Country,68
...,...,...,...,...,...,...,...
3061,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Principality of Asturias,29
3062,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Region of Murcia,11
3063,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Rest of Catalonia,801
3064,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,The Rioja,9
3065,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Valencian Community,112

In [988]:
table_3["Attribute_Family"] = "Place_of_birth"

In [989]:
table_3

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Place_of_birth,Population,Attribute_Family
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Andalusia,295,Place_of_birth
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Aragon,94,Place_of_birth
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Balearic islands,23,Place_of_birth
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Barcelona city,3469,Place_of_birth
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Basque Country,68,Place_of_birth
...,...,...,...,...,...,...,...,...
3061,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Principality of Asturias,29,Place_of_birth
3062,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Region of Murcia,11,Place_of_birth
3063,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Rest of Catalonia,801,Place_of_birth
3064,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,The Rioja,9,Place_of_birth
3065,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Valencian Community,112,Place_of_birth

In [990]:
table_3.rename(columns = {"Place_of_birth": "Attribute"}, inplace=True)

In [991]:
table_3

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute,Population,Attribute_Family
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Andalusia,295,Place_of_birth
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Aragon,94,Place_of_birth
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Balearic islands,23,Place_of_birth
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Barcelona city,3469,Place_of_birth
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Basque Country,68,Place_of_birth
...,...,...,...,...,...,...,...,...
3061,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Principality of Asturias,29,Place_of_birth
3062,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Region of Murcia,11,Place_of_birth
3063,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Rest of Catalonia,801,Place_of_birth
3064,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,The Rioja,9,Place_of_birth
3065,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Valencian Community,112,Place_of_birth

In [992]:
table_3 = table_3[["District", "District_Code", "Neighborhood", "Neighborhood_Code", "Sex", "Attribute_Family", "Attribute", "Population"]]

In [993]:
table_3

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute_Family,Attribute,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Place_of_birth,Andalusia,295
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Place_of_birth,Aragon,94
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Place_of_birth,Balearic islands,23
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Place_of_birth,Barcelona city,3469
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Place_of_birth,Basque Country,68
...,...,...,...,...,...,...,...,...
3061,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Place_of_birth,Principality of Asturias,29
3062,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Place_of_birth,Region of Murcia,11
3063,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Place_of_birth,Rest of Catalonia,801
3064,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Place_of_birth,The Rioja,9
3065,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Place_of_birth,Valencian Community,112

Population of the city of Barcelona according to sex and nationality

In [994]:
url4 = 'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id=f25b814e-6c7a-4d5f-904a-398e75b2d3f1&limit=16102'
fileobj4 = json.load(urlopen(url4))
#print(fileobj5)

In [995]:
fileobj4.keys()

dict_keys(['help', 'success', 'result'])

In [996]:
fileobj4['result'].keys()

dict_keys(['resource_id', 'fields', 'records', '_links', 'limit', 'total'])

In [997]:
sub_df4 = pd.json_normalize(fileobj4['result']['records'])

In [998]:
sub_df4

,Codi_Districte,Sexe,Nom_Districte,Nom_Barri,Codi_Barri,Nombre,_id,Any,Nacionalitat
0,1,Dona,Ciutat Vella,el Raval,1,11405,1,2020,Espanya
1,1,Dona,Ciutat Vella,el Barri Gòtic,2,4141,2,2020,Espanya
2,1,Dona,Ciutat Vella,la Barceloneta,3,4730,3,2020,Espanya
3,1,Dona,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,6468,4,2020,Espanya
4,2,Dona,Eixample,el Fort Pienc,5,12900,5,2020,Espanya
...,...,...,...,...,...,...,...,...,...
16097,10,Home,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,0,16098,2020,Apàtrides / No consta
16098,10,Home,Sant Martí,el Besòs i el Maresme,70,2,16099,2020,Apàtrides / No consta
16099,10,Home,Sant Martí,Provençals del Poblenou,71,4,16100,2020,Apàtrides / No consta
16100,10,Home,Sant Martí,Sant Martí de Provençals,72,2,16101,2020,Apàtrides / No consta
16101,10,Home,Sant Martí,la Verneda i la Pau,73,0,16102,2020,Apàtrides / No consta

In [999]:
sub_df4['Nacionalitat'].value_counts()

Bèlgica                   292
Senegal                   292
Turquia                   292
Rússia                    292
Índia                     292
El Salvador               292
Geòrgia                   292
Nicaragua                 292
Colòmbia                  292
Alemanya                  292
Oceania                   292
Irlanda                   292
Marroc, el                292
Estats Units, els         292
Filipines                 292
Japó                      292
Portugal                  292
Ucraïna                   292
Polònia                   292
Hongria                   292
Romania                   292
Resta països d'Àsia       292
Argentina                 292
Paraguai                  292
Suècia                    292
Hondures                  292
Xina                      292
República Dominicana      292
Cuba                      292
Veneçuela                 292
Resta països d'Europa     292
Armènia                   292
Bangladesh                292
Suïssa                    292
Xile                      292
Uruguai                   292
Bolívia                   292
Nigèria                   292
Resta països d'Àmerica    292
Iran                      292
Països Baixos             292
Grècia                    292
Perú                      292
Equador                   292
Resta països d'Àfrica     292
Nepal                     292
Apàtrides / No consta     292
Algèria                   292
Pakistan                  292
Mèxic                     292
Brasil                    292
Bulgària                  292
Regne Unit                261
França                    219
Espanya                   219
Itàlia                    219
Name: Nacionalitat, dtype: int64

In [1000]:
sub_df4 = sub_df4.rename(columns = {"Nom_Districte": "District", 
                                    "Codi_Districte" : "District_Code", 
                                    "Nom_Barri": "Neighborhood",
                                    "Codi_Barri": "Neighborhood_Code",
                                    "Sexe": "Sex",
                                    "Nacionalitat": "Nationality",
                                    "Nombre":"Population"})

In [1001]:
sub_df4

,District_Code,Sex,District,Neighborhood,Neighborhood_Code,Population,_id,Any,Nationality
0,1,Dona,Ciutat Vella,el Raval,1,11405,1,2020,Espanya
1,1,Dona,Ciutat Vella,el Barri Gòtic,2,4141,2,2020,Espanya
2,1,Dona,Ciutat Vella,la Barceloneta,3,4730,3,2020,Espanya
3,1,Dona,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,6468,4,2020,Espanya
4,2,Dona,Eixample,el Fort Pienc,5,12900,5,2020,Espanya
...,...,...,...,...,...,...,...,...,...
16097,10,Home,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,0,16098,2020,Apàtrides / No consta
16098,10,Home,Sant Martí,el Besòs i el Maresme,70,2,16099,2020,Apàtrides / No consta
16099,10,Home,Sant Martí,Provençals del Poblenou,71,4,16100,2020,Apàtrides / No consta
16100,10,Home,Sant Martí,Sant Martí de Provençals,72,2,16101,2020,Apàtrides / No consta
16101,10,Home,Sant Martí,la Verneda i la Pau,73,0,16102,2020,Apàtrides / No consta

In [1002]:
countries = {"Bèlgica":"Belgium",
"Senegal":"Senegal",
"Turquia":"Turkey",
"Rússia":"Russia",
"Índia":"India",
"El Salvador":"El Salvador",
"Geòrgia":"Georgia",
"Nicaragua":"Nicaragua",
"Colòmbia":"Colombia",
"Alemanya":"Germany",
"Oceania":"Oceania",
"Irlanda":"Ireland",
"Marroc, el":"Morocco",
"Estats Units, els":"United States",
"Filipines":"Philippines",
"Japó":"Japan",
"Portugal":"Portugal",
"Ucraïna":"Ukraine",
"Polònia":"Poland",
"Hongria":"Hungary",
"Romania":"Romania",
"Resta països d'Àsia":"Other Asian countries",
"Argentina":"Argentina",
"Paraguai":"Paraguay",
"Suècia":"Sweden",
"Hondures":"Honduras",
"Xina":"China",
"República Dominicana":"Dominican Republic",
"Cuba":"Cuba",
"Veneçuela":"Venezuela",
"Resta països d'Europa":"Rest of European countries",
"Armènia":"Armenia",
"Bangladesh":"Bangladesh",
"Suïssa":"Swiss",
"Xile":"Chile",
"Uruguai":"Uruguay",
"Bolívia":"Bolivia",
"Nigèria":"Nigeria",
"Resta països d'Àmerica":"Other countries in America",
"Iran":"Iran",
"Països Baixos":"Netherlands",
"Grècia":"Greece",
"Perú":"Peru",
"Equador":"Ecuador",
"Resta països d'Àfrica":"Other countries in Africa",
"Nepal":"Nepal",
"Apàtrides / No consta":"Stateless / Not listed",
"Algèria":"Algeria",
"Pakistan":"Pakistan",
"Mèxic":"Mexico",
"Brasil":"Brazil",
"Bulgària":"Bulgaria",
"Regne Unit":"United Kingdom",
"França":"France",
"Espanya":"Spain",
"Itàlia":"Italy"}

In [1003]:
sub_df4["Nationality"] = sub_df4["Nationality"].map(countries)

In [1004]:
sub_df4["Sex"] = sub_df4["Sex"].map(sex)

In [1005]:
sub_df4

,District_Code,Sex,District,Neighborhood,Neighborhood_Code,Population,_id,Any,Nationality
0,1,Women,Ciutat Vella,el Raval,1,11405,1,2020,Spain
1,1,Women,Ciutat Vella,el Barri Gòtic,2,4141,2,2020,Spain
2,1,Women,Ciutat Vella,la Barceloneta,3,4730,3,2020,Spain
3,1,Women,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,6468,4,2020,Spain
4,2,Women,Eixample,el Fort Pienc,5,12900,5,2020,Spain
...,...,...,...,...,...,...,...,...,...
16097,10,Men,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,0,16098,2020,Stateless / Not listed
16098,10,Men,Sant Martí,el Besòs i el Maresme,70,2,16099,2020,Stateless / Not listed
16099,10,Men,Sant Martí,Provençals del Poblenou,71,4,16100,2020,Stateless / Not listed
16100,10,Men,Sant Martí,Sant Martí de Provençals,72,2,16101,2020,Stateless / Not listed
16101,10,Men,Sant Martí,la Verneda i la Pau,73,0,16102,2020,Stateless / Not listed

In [1006]:
table4 = sub_df4.drop(columns= ["_id", "Any"])

In [1007]:
table4

,District_Code,Sex,District,Neighborhood,Neighborhood_Code,Population,Nationality
0,1,Women,Ciutat Vella,el Raval,1,11405,Spain
1,1,Women,Ciutat Vella,el Barri Gòtic,2,4141,Spain
2,1,Women,Ciutat Vella,la Barceloneta,3,4730,Spain
3,1,Women,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",4,6468,Spain
4,2,Women,Eixample,el Fort Pienc,5,12900,Spain
...,...,...,...,...,...,...,...
16097,10,Men,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,69,0,Stateless / Not listed
16098,10,Men,Sant Martí,el Besòs i el Maresme,70,2,Stateless / Not listed
16099,10,Men,Sant Martí,Provençals del Poblenou,71,4,Stateless / Not listed
16100,10,Men,Sant Martí,Sant Martí de Provençals,72,2,Stateless / Not listed
16101,10,Men,Sant Martí,la Verneda i la Pau,73,0,Stateless / Not listed

In [1008]:
export4 = table4.groupby(['District', 'District_Code', 'Neighborhood', 'Neighborhood_Code', 'Sex', 'Nationality', 'Population']).sum()

In [1009]:
export4.to_csv("table4.csv")

In [1010]:
table_4 = pd.read_csv('table4.csv')

In [1011]:
table_4

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Nationality,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Algeria,78
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Argentina,193
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Armenia,4
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Bangladesh,46
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Belgium,63
...,...,...,...,...,...,...,...
8171,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Ukraine,12
8172,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,United Kingdom,22
8173,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,United States,73
8174,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Uruguay,4
8175,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Venezuela,22

In [1012]:
table_4["Attribute_Family"] = "Nationality"

In [1013]:
table_4

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Nationality,Population,Attribute_Family
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Algeria,78,Nationality
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Argentina,193,Nationality
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Armenia,4,Nationality
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Bangladesh,46,Nationality
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Belgium,63,Nationality
...,...,...,...,...,...,...,...,...
8171,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Ukraine,12,Nationality
8172,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,United Kingdom,22,Nationality
8173,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,United States,73,Nationality
8174,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Uruguay,4,Nationality
8175,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Venezuela,22,Nationality

In [1014]:
table_4.rename(columns = {"Nationality":"Attribute"}, inplace=True)

In [1015]:
table_4

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute,Population,Attribute_Family
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Algeria,78,Nationality
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Argentina,193,Nationality
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Armenia,4,Nationality
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Bangladesh,46,Nationality
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Belgium,63,Nationality
...,...,...,...,...,...,...,...,...
8171,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Ukraine,12,Nationality
8172,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,United Kingdom,22,Nationality
8173,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,United States,73,Nationality
8174,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Uruguay,4,Nationality
8175,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Venezuela,22,Nationality

In [1016]:
table_4 = table_4[["District", "District_Code", "Neighborhood", "Neighborhood_Code", "Sex", "Attribute_Family", "Attribute", "Population"]]

In [1017]:
table_4

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute_Family,Attribute,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Nationality,Algeria,78
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Nationality,Argentina,193
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Nationality,Armenia,4
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Nationality,Bangladesh,46
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Nationality,Belgium,63
...,...,...,...,...,...,...,...,...
8171,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Nationality,Ukraine,12
8172,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Nationality,United Kingdom,22
8173,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Nationality,United States,73
8174,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Nationality,Uruguay,4
8175,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Nationality,Venezuela,22

Registered unemployement in the city of Barcelona.

In [1018]:
url5 = 'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id=aef30645-bad5-4c79-9c25-a9a7ede830a5&limit=3552'
fileobj5 = json.load(urlopen(url5))

In [1019]:
fileobj5.keys()

dict_keys(['help', 'success', 'result'])

In [1020]:
fileobj5['result'].keys()

dict_keys(['resource_id', 'fields', 'records', '_links', 'limit', 'total'])

In [1021]:
sub_df5 = pd.json_normalize(fileobj5['result']['records'])

In [1022]:
sub_df5

,Codi_Districte,Sexe,Nom_Districte,Demanda_ocupacio,Nom_Barri,Mes,Codi_Barri,Nombre,_id,Any
0,1,Homes,Ciutat Vella,Atur Registrat,el Raval,1,1,1724,1,2020
1,1,Homes,Ciutat Vella,Atur Registrat,el Barri Gòtic,1,2,491,2,2020
2,1,Homes,Ciutat Vella,Atur Registrat,la Barceloneta,1,3,489,3,2020
3,1,Homes,Ciutat Vella,Atur Registrat,"Sant Pere, Santa Caterina i la Ribera",1,4,673,4,2020
4,2,Homes,Eixample,Atur Registrat,el Fort Pienc,1,5,542,5,2020
...,...,...,...,...,...,...,...,...,...,...
3547,10,Dones,Sant Martí,Demanda No Aturats,el Besòs i el Maresme,12,70,1147,3548,2020
3548,10,Dones,Sant Martí,Demanda No Aturats,Provençals del Poblenou,12,71,933,3549,2020
3549,10,Dones,Sant Martí,Demanda No Aturats,Sant Martí de Provençals,12,72,1314,3550,2020
3550,10,Dones,Sant Martí,Demanda No Aturats,la Verneda i la Pau,12,73,1481,3551,2020
3551,99,Dones,No consta,Demanda No Aturats,No consta,12,99,220,3552,2020

In [1023]:
sub_df5 = sub_df5.rename(columns = {"Nom_Districte": "District", 
                                    "Codi_Districte" : "District_Code", 
                                    "Nom_Barri": "Neighborhood",
                                    "Codi_Barri": "Neighborhood_Code",
                                    "Sexe": "Sex",
                                    "Demanda_ocupacio": "Employment_Demand",
                                    "Mes": "Month",
                                    "Nombre":"Population"})

In [1024]:
sub_df5['Employment_Demand'].value_counts()

Atur Registrat        1776
Demanda No Aturats    1776
Name: Employment_Demand, dtype: int64

In [1025]:
Employment={"Atur Registrat": "Registered unemployment",
     "Demanda No Aturats": "Non Unemployed Demand"}

In [1026]:
sub_df5['Employment_Demand'].value_counts()

Atur Registrat        1776
Demanda No Aturats    1776
Name: Employment_Demand, dtype: int64

In [1027]:
sub_df5['Sex'].value_counts()

Homes    1776
Dones    1776
Name: Sex, dtype: int64

In [1028]:
sub_df5["Employment_Demand"] = sub_df5["Employment_Demand"].map(Employment)

In [1029]:
sex2 = {"Dones": "Women",
       "Homes": "Men"}

In [1030]:
sub_df5["Sex"] = sub_df5["Sex"].map(sex2)

In [1031]:
sub_df5

,District_Code,Sex,District,Employment_Demand,Neighborhood,Month,Neighborhood_Code,Population,_id,Any
0,1,Men,Ciutat Vella,Registered unemployment,el Raval,1,1,1724,1,2020
1,1,Men,Ciutat Vella,Registered unemployment,el Barri Gòtic,1,2,491,2,2020
2,1,Men,Ciutat Vella,Registered unemployment,la Barceloneta,1,3,489,3,2020
3,1,Men,Ciutat Vella,Registered unemployment,"Sant Pere, Santa Caterina i la Ribera",1,4,673,4,2020
4,2,Men,Eixample,Registered unemployment,el Fort Pienc,1,5,542,5,2020
...,...,...,...,...,...,...,...,...,...,...
3547,10,Women,Sant Martí,Non Unemployed Demand,el Besòs i el Maresme,12,70,1147,3548,2020
3548,10,Women,Sant Martí,Non Unemployed Demand,Provençals del Poblenou,12,71,933,3549,2020
3549,10,Women,Sant Martí,Non Unemployed Demand,Sant Martí de Provençals,12,72,1314,3550,2020
3550,10,Women,Sant Martí,Non Unemployed Demand,la Verneda i la Pau,12,73,1481,3551,2020
3551,99,Women,No consta,Non Unemployed Demand,No consta,12,99,220,3552,2020

In [1032]:
table5 = sub_df5.drop(columns= ["_id", "Any"])

In [1033]:
export5 = table5.groupby(['District', 'District_Code', 'Neighborhood', 'Neighborhood_Code', 'Sex', 'Employment_Demand', 'Month', 'Population']).sum()

In [1034]:
export5.to_csv("table5.csv")

In [1035]:
table_5 = pd.read_csv('table5.csv')

In [1036]:
table_5

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Employment_Demand,Month,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,1,219
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,10,1344
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,11,1374
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,12,1380
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,2,194
...,...,...,...,...,...,...,...,...
3547,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,5,246
3548,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,6,246
3549,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,7,244
3550,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,8,249
3551,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,9,243

In [1037]:
table_5['Month'] = table_5['Month'].apply(str)

In [1038]:
table_5["Attribute"] = table_5["Month"] + [" "] + table_5["Employment_Demand"]

In [1039]:
table_5

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Employment_Demand,Month,Population,Attribute
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,1,219,1 Non Unemployed Demand
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,10,1344,10 Non Unemployed Demand
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,11,1374,11 Non Unemployed Demand
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,12,1380,12 Non Unemployed Demand
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Non Unemployed Demand,2,194,2 Non Unemployed Demand
...,...,...,...,...,...,...,...,...,...
3547,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,5,246,5 Registered unemployment
3548,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,6,246,6 Registered unemployment
3549,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,7,244,7 Registered unemployment
3550,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,8,249,8 Registered unemployment
3551,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Registered unemployment,9,243,9 Registered unemployment

In [1040]:
table_5 = table_5.drop(columns=["Employment_Demand", "Month"])

In [1041]:
table_5["Attribute_Family"] = "Montly_Employment_Demand"

In [1042]:
table_5

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Population,Attribute,Attribute_Family
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,219,1 Non Unemployed Demand,Montly_Employment_Demand
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,1344,10 Non Unemployed Demand,Montly_Employment_Demand
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,1374,11 Non Unemployed Demand,Montly_Employment_Demand
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,1380,12 Non Unemployed Demand,Montly_Employment_Demand
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,194,2 Non Unemployed Demand,Montly_Employment_Demand
...,...,...,...,...,...,...,...,...
3547,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,246,5 Registered unemployment,Montly_Employment_Demand
3548,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,246,6 Registered unemployment,Montly_Employment_Demand
3549,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,244,7 Registered unemployment,Montly_Employment_Demand
3550,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,249,8 Registered unemployment,Montly_Employment_Demand
3551,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,243,9 Registered unemployment,Montly_Employment_Demand

In [1060]:
table_5f = table_5[["District", "District_Code", "Neighborhood", "Neighborhood_Code", "Sex", "Attribute_Family", "Attribute", "Population"]]

In [1061]:
table_5f

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute_Family,Attribute,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Montly_Employment_Demand,1 Non Unemployed Demand,219
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Montly_Employment_Demand,10 Non Unemployed Demand,1344
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Montly_Employment_Demand,11 Non Unemployed Demand,1374
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Montly_Employment_Demand,12 Non Unemployed Demand,1380
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Montly_Employment_Demand,2 Non Unemployed Demand,194
...,...,...,...,...,...,...,...,...
3547,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,5 Registered unemployment,246
3548,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,6 Registered unemployment,246
3549,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,7 Registered unemployment,244
3550,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,8 Registered unemployment,249
3551,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,9 Registered unemployment,243

Final Data Set

In [1064]:
tabla_final = pd.concat([table_1, table_2, table_3, table_4, table_5f])

In [1065]:
tabla_final

,District,District_Code,Neighborhood,Neighborhood_Code,Sex,Attribute_Family,Attribute,Population
0,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,Elementary school / school graduate / ESO / FPI,2020
1,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,High school / BUP / COU / FPII / CFGM Intermed...,2475
2,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,No records,123
3,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,Primary education / certificate of schooling /...,1700
4,Ciutat Vella,1,"Sant Pere, Santa Caterina i la Ribera",4,Men,Academic_Qualification,University studies / CFGS higher degree,4092
...,...,...,...,...,...,...,...,...
3547,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,5 Registered unemployment,246
3548,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,6 Registered unemployment,246
3549,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,7 Registered unemployment,244
3550,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,8 Registered unemployment,249
3551,Sarrià-Sant Gervasi,5,les Tres Torres,24,Women,Montly_Employment_Demand,9 Registered unemployment,243

In [1068]:
tabla_final.to_excel('Open_Data_BCN.xlsx')

In [1090]:
tabla_final.to_csv('Open_Data_BCN.csv')

In [1066]:
tabla_final["Attribute_Family"].value_counts()

Nationality                  8176
Age_range_and_Nationality    6132
Montly_Employment_Demand     3552
Place_of_birth               3066
Academic_Qualification        876
Name: Attribute_Family, dtype: int64

In [1048]:
table_1.shape

(876, 8)

In [1049]:
table_2.shape

(6132, 8)

In [1050]:
table_3.shape

(3066, 8)

In [1051]:
table_4.shape

(8176, 8)

In [1067]:
table_5f.shape

(3552, 8)

In [1052]:
#table1.to_csv("sex and academic level.csv")

In [1053]:
#table1.to_excel('sex_and_academic_level.xlsx')

In [1054]:
#table2.to_csv("sex, five-year age and nationality.csv")

In [1055]:
#table2.to_excel('sex_five_year_age_and_nationality.xlsx')

In [1056]:
#table3.to_csv("sex and place of birth.csv")

In [1057]:
#table3.to_excel('sex_and_place_of_birth.xlsx')

In [1058]:
#table4.to_csv("sex and nationality.csv")

In [1059]:
#table4.to_excel('sex_and_nationality.xlsx')